.App {
  font-family: sans-serif;
  text-align: center;
}

.logo {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.logo > img {
  height: 150px;
}

.gallery {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}

img {
  height: 150px;
  margin-bottom: 15px;
}

img + img {
  margin-left: 10px;
}
